<div class="container">
   <img src="assets/seasonBackground.png">
</div>
<div class="month_options">
    <div class="part1">
        <button  (click) = "showStates1()" class = "1">January</button>
        <button  (click) = "showStates2()" class = "2">February</button>
        <button  (click) = "showStates3()" class = "3">March</button>
        <button  (click) = "showStates4()" class = "4">April</button>
        <button  (click) = "showStates5()" class = "5">May</button>
        <button  (click) = "showStates6()" class = "6">June</button>
    </div>
    <div class="part1_part2">
        <button  (click) = "showStates7()" class = "7">July</button>
        <button  (click) = "showStates8()" class = "8">August</button>
        <button  (click) = "showStates9()" class = "9">September</button>
        <button  (click) = "showStates10()" class = "10">October</button>
        <button  (click) = "showStates11()" class = "11">November</button>
        <button  (click) = "showStates12()" class = "12">December</button>
    </div>
</div>
<div class = "tour">
    <h1>Indian Tourism</h1><br/><br/>
    <h3>Places to Visit in India by Month</h3><br/>
</div>
<div class="info">
    <h1>The 5 Most Beautiful States in India</h1>
</div>
<div class="statesinfo">
    <h6>With its diverse natural and urban landscapes, and cultures and cuisines, India is a country that never ceases to amaze. No doubt
        that when confronted with this vast array of wonderful travel opportunities, choosing the right place to visit is one of the most 
        difficult tasks. From beaches and hill stations to religious sites and historical monuments, India has it all.</h6>  <br/>  
</div>
<div class="keralastates">
    <h3>Kerala:</h3>
    <div class="keralainfo">
        <h6>Referred to as ‘God’s Own Country’, Kerala is one of India’s prettiest states. It is home to some of the country’s most 
            stunning beaches, including Kovalam, Muzhappilangad, Varakala and many more. It also boasts breathtaking hill stations, 
            gripping waterfalls, a plethora of historical places and monuments, and a host of national parks and wildlife sanctuaries. 
            For those in search of a serene hill station, Munnar is always a good option. In any case, the very peaceful atmosphere of 
            Kerala never ceases to amaze.</h6><br/>
        <img src = "assets/kerala.jpg">
    </div>
</div>
<div class="gaostates">
    <h3>Goa:</h3>
    <div class="gaoinfo">
        <h6>Known around the world for its beautiful beaches, Goa is a destination not to be missed when visiting India. Sunsets at the
             golden-sand beaches are simply incredible, and the local cuisine, which includes many seafood dishes, is mouthwatering. Goa
              also offers travellers the opportunity to engage in many water sports, such as windsurfing and water-skiing. This is one of
               India’s smallest states, but one with an old town, and a very unique ethnicity and culture. While wandering across Goa, you 
               are likely to come across Hindu temples, Portuguese churches and wildlife sanctuaries.</h6><br/>
        <img src = "assets/gao.jpg">
    </div>
</div>
<div class="jkstates">
    <h3>Jammu and Kashmir:</h3>
    <div class="jkinfo">
        <h6>Even seasoned travellers will admit that Jammu and Kashmir, with its emerald green valleys, snow-capped mountains and stunning 
            blue skies, is home to some of the world’s most spectacular places. Known for its aesthetic beauty, this mountainous state keeps 
            attracting visitors in search of quaint villages, amazing waterfalls and gardens, and lush green valleys. There are also beautiful 
            historic mosques and temples to visit, as well as Hindu shrines, forts and castles.</h6><br/>
            <img src = "assets/jk.jpg">
    </div>
</div>
<div class="upstates">
    <h3>Uttar Pradesh:</h3>
    <div class="upinfo">
        <h6>What is India’s architectural answer to love? The Taj Mahal in Agra, of course. What about spirituality and salvation? Located
             along the Ganges river, the answer lies in Varanasi, India’s oldest city. As such, Uttar Pradesh is one of India’s prettiest 
             states, and is home to major historical, religious and architectural Indian destinations. Two of the most important pilgrimage
              sites for Hindus are also found in Uttar Pradesh: the ancient cities of Ayodhya and Allahabad.</h6><br/>
        <img src = "assets/up.jpg">
    </div>
</div>
<div class="rajasthanstates">
    <h3>Rajasthan:</h3>
    <div class="rajasthaninfo">
        <h6>Known as the ‘Land of Kings’, Rajasthan is a state full of stories of wars and victories, romance, misfortunes and glories.
            These folkloric tales of love and heroism are physically reflected in Rajasthan’s many monuments, magnificent palaces and 
            forts. Rajasthan is also home to the vast Thar Desert and its world-renowned Sam Sand Dunes, as well as an array of rare 
            wildlife. Must-see destinations include Jaipur, Udaipur and Jodhpur among many others.</h6><br/>
        <img src = "assets/rajasthan.jpg">
    </div>
</div>