<body>
    <div style="text-align:center">
        <h1>
          <marquee>
          Welcome to Seasonal Trip Planner!!
          </marquee>
        </h1>
      </div>    
      <div class="homepage_image" style="text-align:center">
     <img src="assets/tajmahal.jpg">
     <h6><p>India is one of the oldest civilizations in the world, spanning a period of more than 5000 years, and witnessing the fusion of several customs and traditions,
        which are reflective of the rich culture and heritage of the Country..India is bounded by the majestic snow capped Himalayan ranges in the north and edged by an
        endless stretch of golden beaches. Cultural and historical heritage of Rajasthan and Madhya Pradesh; Snow clad Himalayan peaks in Himachal Pradesh; the religious 
        concentration and unexplored natural beauty of Uttaranchal / Uttarakhand; Wildlife in Bandhavgarh, Kanha, Corbett and Ranthambore; Beaches of Goa; Backwaters in 
        Kerala – the God’s Own Country – India has a lot on offer as not just as a tourism destination but as an unforgettable experience.We invite people from all genres 
        of life to come and have a feel of the magic called India. The experience that has no starting or ending point but the beauty that will remain with you throughout 
        your lifetime – an experience that is truly !ncredible ….
        </p><p>COMFORTABLE PACKAGES :<br/>
        Besides maintaining the best tourist places according to season and quality of the packages we try and get the best deal without compromising on the service. All confirmations are taken in writing 
        before confirming to the clients to avoid confusions and give them comfortable packages according to their budget .By selecting them in a cart ,we display them
        total cart budget and we can also remove from cart.
        </p><p>MOTO OF OUR APPILACATION :   <br/>
        Our dedicated team of young and energetic staff is always eager to make your Holiday a dream holiday.
        </p><br/><p>FOR MORE INFORMATION PLEASE REGISTER AND LOGIN... </p>
      </h6><br/>
</div>
</body>